.toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--bg-color-light);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.toolbar-row .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.toolbar-row .input-group label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.toolbar-row .input-group input[type='color'],
.toolbar-row .input-group select,
.toolbar-row .input-group input[type='range'] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--bg-color-main);
  color: var(--text-color);
}

.toolbar-row .input-group select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--bg-color-main);
  color: var(--text-color);
}

canvas {
  border: 2px solid var(--text-color);
  border-radius: 5px;
  height: 80%;
  width: 100%;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-main);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--bg-color-main);
  color: var(--text-color);
}

button:hover,
.toolbar-row select:hover,
.toolbar-row input[type='color']:hover,
.toolbar-row input[type='range']:hover {
  background-color: #f0f0f0;
}

input[type='color'] {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .toolbar-row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .toolbar-row:first-child {
    margin-right: 10px;
  }

  .toolbar-row:last-child {
    margin-left: 10px;
  }

  canvas {
    width: 80%;
    height: 70%;
  }
}

@media (max-width: 992px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    flex-direction: column;
    align-items: center;
  }

  .toolbar-row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  canvas {
    width: 90%;
    height: 60%;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    flex-direction: column;
    align-items: center;
  }

  .toolbar-row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  canvas {
    width: 95%;
    height: 50%;
  }
}

@media (max-width: 576px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    flex-direction: column;
    align-items: center;
  }

  .toolbar-row {
    flex-direction: column;
    margin-bottom: 10px;
  }

  canvas {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 480px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    flex-direction: column;
    align-items: center;
  }

  .toolbar-row {
    flex-direction: column;
    margin-bottom: 10px;
  }

  canvas {
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 320px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    flex-direction: column;
    align-items: center;
  }

  .toolbar-row {
    flex-direction: column;
    margin-bottom: 10px;
  }

  canvas {
    width: 100%;
    height: 30%;
  }
}

@media (orientation: landscape) {
  .main-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .first-toolbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    flex-direction: column;
  }

  .second-toolbar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    flex-direction: column;
  }

  .third-toolbar {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    flex-direction: row;
    justify-content: center;
  }

  canvas {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  main {
    grid-template-columns: 0fr 10fr 0fr;
  }
}
